section(ng-class="formClasses", ng-init="formClasses={}")
  form.row(name="form", novalidate)

    .columns.admin-panel(ng-if="classified.id")
      .row
        .columns.medium-4
          button.green(ng-click="changeStatus('ACTIVE')", ng-if="superEditable") Publish
        .columns.medium-4
          button.red(ng-click="changeStatus('REJECTED')", ng-if="superEditable") Reject
        .columns.medium-4
          button.red(ng-click="changeStatus('BANNED')", ng-if="superEditable") Ban
        //- .action.red(ng-click="classified.status = 3 && submit()", ng-if="superEditable") Promote
        //- .action.red(ng-click="classified.status = 3 && submit()", ng-if="superEditable") Demote
        .columns.medium-4.end
          button.red(ng-click="changeStatus('ARCHIVED')") Archive/Delete


    //- Title
    .columns
      div(input-text
        form-ui
        maxlength="140"
        minlength="20"
        ng-model="classified.title"
        placeholder="Title *"
        required="true"
        ng-class="{disabled: formLoading}")


    //- Description
    .columns
      div(input-textarea, form-ui
        maxlength="2000"
        minlength="50"
        ng-model="classified.description"
        placeholder="Description *"
        required="true"
        ng-class="{disabled: formLoading}")

    //- Image section.
    .columns
      div(input-images, form-ui
        ng-model="ctrl.images")


    //- Contact section
    .columns
      .row
        .columns.medium-6
          div(input-price, form-ui
            ng-model="ctrl.price"
            placeholder="Price *"
            required="true"
            ng-class="{disabled: formLoading}")
        .columns.medium-6
          div(input-long-list, form-ui
            list="locations"
            ng-model="ctrl.location"
            placeholder="Location *"
            required="true"
            ng-class="{disabled: formLoading}")
        .columns.medium-6
          div(input-category, form-ui
            ng-model="ctrl.categories"
            placeholder="Category *"
            required="true"
            ng-class="{disabled: formLoading}")
        .columns.medium-6
          div.disabled(input-text, form-ui
            ng-disabled="!!ctrl.user.id"
            ng-model="ctrl.user.email"
            placeholder="Email *"
            type="email"
            required="true")
        .columns.medium-6
          div(input-text, form-ui
            ng-disabled="!!ctrl.user.id"
            ng-model="ctrl.user.full_name"
            placeholder="Your Name *"
            required="true")
        .columns.medium-6
          div(input-tel
            form-ui
            ng-model="contact.phone"
            placeholder="Telephone")
        .columns.medium-6(ng-if="!!ctrl.location && ctrl.location != 0")
          div(input-text, form-ui
            ng-model="contact.address1"
            placeholder="Address Line 1")
        .columns.medium-6(ng-if="!!ctrl.location && ctrl.location != 0")
          div(input-text, form-ui
            ng-model="contact.address2"
            placeholder="Address Line 2")

      //- Meta attributes
      .row.meta
        .columns.large-4.medium-6.end
          div(input-checkbox-icon
            form-ui
            placeholder="Don't share on social networks"
            ng-model="meta.dontShareSocial")
        .columns.large-4.medium-6.end
          div.hideEmail(input-checkbox-icon
            form-ui
            placeholder="Keep my email hidden"
            ng-model="meta.hideEmail")
        .columns.large-4.medium-6.end
          div.delivery(input-checkbox-icon
            form-ui
            placeholder="I provide delivery"
            ng-model="meta.deliveryIncluded")
        .columns.large-4.medium-6.end(ng-if="meta.deliveryIncluded")
          div.delivery(input-checkbox-icon
            form-ui
            placeholder="Delivery will be free"
            ng-model="meta.freeDeliveryIncluded")
        .columns.large-4.medium-6.end(ng-if="contact.phone")
          div.viber(input-checkbox-icon
            form-ui
            placeholder="I am available on Viber"
            ng-model="meta.viber")
        .columns.large-4.medium-6.end(ng-if="contact.phone")
          div.whatsapp(input-checkbox-icon
            form-ui
            placeholder="I am available on Whatsapp"
            ng-model="meta.whatsapp")
        .columns.large-4.medium-6.end(ng-if="!!ctrl.location && ctrl.location != 0")
          div.googlemaps(input-checkbox-icon
            form-ui
            placeholder="Add Google Maps"
            ng-model="ctrl.mapsEnabled")


    //- Google Maps
    .google-maps.columns(ng-if="ctrl.mapsEnabled",
      ng-init="drawMap()")
      label.hide-for-large-up Touch/Tap to place the marker
      label.show-for-large-up Drag and drop the marker to set the map!
      .row.collapse
        .columns
          //- This is the container which will hold the map
          #maps-container(google-maps-input, ng-model="ctrl.maps")


    //- Disclaimer section
    .disclaimer.columns
        b Disclaimer:&nbsp;
        | By clicking on submit, you agree to our&nbsp;
        a(target="_self", href="/info/privacy-terms") privacy and terms of use.


    //- Google reCaptcha
    .columns
      div(google-recaptcha, ng-model="ctrl.gcaptcha")


    //- Finally the submit button
    .columns.large-3.medium-6.end
      csrf(ng-model="ctrl.csrf")
      button.submit(ng-click="submit()") {{ formLoading ? "Submitting..." : "Submit classified" }}
