section#classified
  form(name="form", novalidate).row
    input(type="file", multiple, ng-model-file="fileChange").hide
    .columns
      ul.gallery.row.collapse
        li.small-6.medium-4.large-3.columns(ng-repeat="image in files track by $index")
          img.thumb(src!="{{ image.file }}")
        li.medium-4.large-3.columns.end(ng-click="addImages()")
          .message Add an Image


    .columns.title
      input(type="text", placeholder="Your title goes here", ng-model="title",
        ng-change="validate()", ng-minlength="20", ng-maxlength="140", ng-required="true")
      .error.show-on-focus(max="max. 140 characters", min="min. 20 characters", valid="{{ remainingTitle }}")

    .columns.description(itemprop="description")
      textarea(placeholder="Your description goes here",
        ng-model="description",
        ng-minlength="50",
        ng-maxlength="2000",
        ng-required="true")
      .error.show-on-focus(max="max. 2000 characters", min="min. 50 characters", valid="{{ remainingDescription }}")

    ul.classified.meta.columns.medium-6
      li.row
        .meta-title.columns.medium-2 Price
        .columns.medium-9
          select(ng-model="classified.priceType", ng-required="true")
            option(disabled, selected, value="") Choose a price
            option(value="0") Free
            option(value="1") Contact Owner
            option(value="2") Specify Value
          .error

      li.row(ng-if="classified.priceType == 2")
        .meta-title.columns.medium-2
        .columns.medium-9
          input(type="number", placeholder="give your price here", ng-model="classified.priceValue", ng-required="true", min=0)
          .error(invalid='price must only contain numbers')

      li.row
        .meta-title.columns.medium-2 Email
        .columns.medium-9
          input(type="email", placeholder="contact@website.com", ng-model="classified.email", ng-required="true")
          .error(invalid='email must be valid')

      li.row
        .meta-title.columns.medium-2 Category
        .columns.medium-9
          select(ng-model="classified.parentCategory", ng-options="category.name for category in categories", ng-required="true")
            option(disabled, selected, value="") Choose a category
          .error

      li.row(ng-if="classified.parentCategory.children.length > 0")
        .meta-title.columns.medium-2
        .columns.medium-9
          select(ng-model="classified.childCategory", ng-options="child.name for child in classified.parentCategory.children", ng-required="true")
            option(disabled, selected, value="") Choose a sub-category
          .error

      li.row
        .meta-title.columns.medium-2 Location
        .columns.medium-9
          select(ng-model="classified.location", ng-options="location.name for location in locations", ng-required="true")
            option(disabled, selected, value="") Choose a location
          .error

    ul.classified.meta.columns.medium-6
      li.row
        .meta-title.columns.medium-2 Phone
        .columns.medium-9
          input(type="text", placeholder="+965 12345678", ng-model="classified.contact.phone")
      li.row
        .meta-title.columns.medium-2 Address
        .columns.medium-9
          input(type="text", placeholder="Address line 1", ng-model="classified.contact.address1")
      li.row
        .meta-title.columns.medium-2
        .columns.medium-9
          input(type="text", placeholder="Address line 2", ng-model="classified.contact.address2")
      li.row
        .meta-title.columns.medium-2 Link
        .columns.medium-9
          input(type="url", placeholder="https://example.com", ng-model="classified.contact.website")
          .error(invalid="link must be a valid url")
      li.row.extras
        .meta-title.columns.medium-2 Extras
        .columns.medium-9
          .row
            .columns
              input(type="checkbox", ng-model="classified.meta.hideEmail")
              label Keep my email hidden
            .columns
              input(type="checkbox", ng-model="classified.meta.deliveryIncluded")
              label I provide delivery
            .columns(ng-if="classified.meta.deliveryIncluded")
              input(type="checkbox", ng-model="classified.meta.freeDeliveryIncluded")
              label Delivery will be free of charge
            .columns(ng-if="classified.contact.phone")
              input(type="checkbox", ng-model="classified.meta.whatsapp")
              label I am available on Whatsapp
            .columns(ng-if="classified.contact.phone")
              input(type="checkbox", ng-model="classified.meta.viber")
              label I am available on Viber


    .google-maps.columns(ng-if="classified.location", ng-init="drawMap()")
      .row.collapse
        .columns
          input(type="checkbox", name="toggled", id="toggleMaps", ng-model="mapsEnabled")
          label Enable maps
        .columns
          #maps-container(ng-class="{disabled: !mapsEnabled}")


    .disclaimer.columns
        b Disclaimer:&nbsp;
        | By submitting this classified, you agree to our&nbsp;
        a(href="/privacy-terms") privacy and terms of use.


  .row
    .columns
      button.submit Submit classified