section(ng-class="{'show-status': showStatus, 'urgent':cl.meta.urgentPerk && !showStatus}",
  itemscope
  class="{{ cl.status | status:'classified' | lowercase }}"
  itemtype="http://schema.org/Product")

  .thumb(ng-if="mainImage"
    fn-ratio="{{ mainImage.height / mainImage.width }}"
    ng-style="{background: mainImage.color}")
    img(fn-image-loader!="{{ mainImage.src }}"
      fn-image-success="classified.imageLoaded()"
      alt="{{ cl.title }}")

  .info
    .title
      span(itemprop="name") {{ cl.title | limitTo: 120 }}

    ul.meta.row.collapse(ng-if="!showStatus")
      li.price.small-6.columns(itemprop="offers"
        itemscope
        itemtype="http://schema.org/Offer")
        span(itemprop="priceCurrency"
          content="KWD")
        span(content="{{ (cl.price_value || 0 ) }}"
          itemprop="price") {{ cl.price_value | price : cl.price_type }}
      li.date.small-6.columns.text-right
        //- a(ng-href="/{{ classified.slug }}")
          span.link &#xf0c6;
        span {{ cl.created | prettydate }}
  .status.banner(ng-if="showStatus") {{ cl.status | status:"classified" }}
  //- .urgent.banner(ng-if="cl.meta.urgentPerk && !showStatus") Urgent
