.row
  #splash.columns(ng-class="{imgLoaded: imgLoaded}")
    #collage(ng-style="{'background-image': hero}")
    img.hide(fn-image-loader!="<%= staticUrl %>/images/collage.png",
      fn-image-success!="imgLoaded=true; hero='url(<%= staticUrl %>/images/collage.png)';")

    img(src!="<%= staticUrl %>/images/kme-logo-white.png",
      ng-class="{hide: !imgLoaded}")
    h1.tagline Your free local classifieds in Kuwait
    .cta
      a(href="/classified/create"
        ng-click="trackEvent('Create classified')") Post your classified
      a(href="/classified"
        ng-click="trackEvent('Find classified')") Find a classified
      .hide-if-loggedin
        a(ng-click="showAuth(); trackEvent('Login')") Login/Signup
      .show-if-loggedin
        a(ng-href="/account"
          ng-click="trackEvent('Manage account')") Manage your Account

#featured-classifieds.row(ng-if="displayClassifiedList")
  h2 Latest Classifieds
  section(classified-interactive-list)
