//- This input form is used to spawn the file selector dialog
input(type="file"
  multiple
  fn-model-file="fileChange"
  ng-disabled="formLoading").hide
button(ng-click="addImages()") Add some Photos!

ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4
  li(data-id="{{ image.id }}",
    class="{{ image.status }}",
    ng-class="{'set-main-image': image.main }"
    ng-repeat="image in images track by $index")
    div
      .action
        .close(ng-click="removeImage($index)") remove
        .main(ng-click="setmainImage($index)") main image
      img.thumb(ng-src!="{{ image.src }}")
