section.row.classified-single(ng-controller="component:classified-single", itemscope, itemtype="http://schema.org/Product")
  .columns(ng-if="classified.show")
    ul.gallery.row(ng-if="classified.images")
      li.small-6.medium-4.large-3.columns.end.image-loading(ng-repeat="image in classified.images track by $index")
        div(target="_self", ng-href!="<%= staticUrl %>/uploads/main/{{ image.filename }}",
          ng-style="{background: image.color }",
          ng-ratio="{{ image.height / image.width }}")
          img.thumb(ng-image-loader!="<%= staticUrl %>/uploads/thumb/{{ image.filename }}",
            ng-image-success="update", ng-image-fail="update", itemprop="image")


  .columns.content
    .row
      h2.columns.title(contenteditable-dis="true", placholder="title", itemprop="name") {{ classified.title }}
      ul.columns.tags
        li.whatsapp(ng-if="classified.meta.whatsapp") Whatsapp
        li.viber(ng-if="classified.meta.viber") Viber
        li.green(ng-if="classified.hasDelivery") Delivery included
        li.green(ng-if="classified.hasFreeDelivery") Free Delivery included
        li.yellow(ng-if="classified.underReview") Under Review
        li.green(ng-if="classified.isActive") Active
        li.red(ng-if="classified.isRejected") Rejected
        li.red(ng-if="classified.isBanned") Banned
        li.red(ng-if="classified.isArchived") Archived


      pre.columns.description(itemprop="description",
        ng-if="classified.show") {{ classified.description }}

      .columns(ng-if="classified.show")
        ul.meta.small-block-grid-1.medium-block-grid-3.large-block-grid-4
          //- li
            span.meta-title Views:
            span.meta-value {{ classified.views || 0 }}
          li

            span.meta-title Price:
            span(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
              span(itemprop="priceCurrency", content="KWD")
              span.meta-value(itemprop="price",
                content="{{ (classified.priceValue || 0 ) }}") {{ classified.priceValue | price:classified.priceType }}
          li(ng-if="classified.created", itemprop="datePublished" content="{{ classified.created }}")
            span.meta-title Published:
            span.meta-value {{ classified.created | prettydate }}
          li(ng-if="classified.parent_category")
            span.meta-title Category:
            span.meta-value {{ classified.parent_category | category : "parent" }}
              span(ng-if="classified.child_category") &nbsp;- {{ classified.child_category | category : "child"}}
          li(ng-if="classified.location")
            span.meta-title Location:
            span.meta-value {{ classified.location | location }}
          li(ng-if="classified.contact.website")
            span.meta-title Website:
            span.meta-value
              a(ng-href="{{ classified.contact.website }}") {{ classified.contact.website | link}}
          li(ng-if="classified.contact.address1")
            span.meta-title Address:
            span.meta-value
              a(ng-href="//www.google.co.in/maps/dir//{{classified.meta.gmapX}},{{classified.meta.gmapY}}",
                ng-if="classified.meta.gmapX") {{ classified.contact.address1 }}, {{ classified.contact.address2 }}
              a(ng-if="!classified.meta.gmapX") {{ classified.contact.address1 }}, {{ classified.contact.address2 }}
          li(ng-if="classified.contact.email && !classified.meta.hideEmail")
            span.meta-title Email:
            span.meta-value
              a(ng-href="mailto:{{ classified.contact.email }}?subject=Reply to your classified: {{ classified.title }}") {{ classified.contact.email }}
          li(ng-if="classified.contact.phone")
            span.meta-title Phone:
            span.meta-value
              a(ng-href="tel:{{ classified.contact.phone }}") {{ classified.contact.phone }}

      //- .columns.user(ng-if="classified.show")
        .avatar
        .info
          .name John Doe
          div
            .email(ng-if="classified.contact.email && !classified.meta.hideEmail")
              b Email:
              a(ng-href="mailto:{{ classified.contact.email }}?subject=Reply to your classified: {{ classified.title }}") {{ classified.contact.email }}
            .phone(ng-if="classified.contact.phone")
              b Phone:
              a
          a.contact(ng-click="showContactForm = true", ng-if="classified.contact.email") Contact Me
          .contact-form.columns(ng-if="showContactForm") I shall send your message!


      .disclaimer.columns
        b Disclaimer:&nbsp;
        | By viewing this classified, you are agreeing to our&nbsp;
        a(target="_self", href="/terms-privacy") privacy conditions and terms of use
        | . It is your duty to ensure safety and authenticity while dealing with any
        | buyer/sellers.


      a.google-maps.columns(ng-if="classified.meta.mapsEnabled && classified.show",
        ng-init="drawMap(); mapHeight = window.innerHeight / 2",
        style="height: {{ window.innerHeight / 2 }}px",
        ng-href="//www.google.co.in/maps/dir//{{classified.meta.gmapX}},{{classified.meta.gmapY}}")
        #maps-container



      ul#extras-sidebar.columns
        li.facebook(ng-if="classified.meta.shareSocial")
          a.icon(target="_self", ng-href="{{ classified.social.facebook }}") &#xf09a;
        li.twitter(ng-if="classified.meta.shareSocial")
          a.icon(target="_self", ng-href="{{ classified.social.twitter }}") &#xf099;
        li.linkedin(ng-if="classified.meta.shareSocial")
          a.icon(target="_self", ng-href="{{ classified.social.linkedin }}") &#xf0e1;
        li.pinterest(ng-if="classified.meta.shareSocial")
          a.icon(target="_self", ng-href="{{ classified.social.pintrest }}") &#xf231;
        li.googleplus(ng-if="classified.meta.shareSocial")
          a.icon(target="_self", ng-href="{{ classified.social.gplus }}") &#xf0d5;
        li.link
          a.icon(itemprop="url", ng-href="/{{ classified.slug }}") &#xf0c6;
        li.email
          a.icon(target="_self", ng-href="{{ classified.social.email }}") &#xf003;
        //- li.blank
        //- li.fav
        //-   a.icon(ng-href="/{{ classified.slug }}") &#xf005;