extends ../../layout.jade

block content
	form(action="", method="POST", enctype="multipart/form-data")

		if data.guest
			.message
				p
					| We are letting you post a classified as a guest. So we have to
					| review your post before it gets published which can take upto
					| 24 hours.
				p
					| You can avoid this delay, if you simply <a href="/auth/signup">
					| signup</a> with us!

		//- Form section for basic info
		section.tab
			.tab-title #{__('page.cform.title.info')}
			.tab-content

				//- Title field
				.hint !{__('page.cform.hint.title')} *
				input(name="title", placeholder="#{__('page.cform.title.info')}")
				.seperator

				//- Classified type field
				.hint !{__('page.cform.hint.type')}
				select(name="type")
					option(value="0", selected) #{__('page.cform.placeholder.type.offering')}
					option(value="1") #{__('page.cform.placeholder.type.wanted')}
				.seperator

				//- Category and Sub-Category boxes
				.hint !{__('page.cform.hint.cat')} *
				select#cat-selector(name="parent-category", required)
					option(data-id="-1", disabled, selected) #{__('page.cform.placeholder.category')}
				select#subcat-selector(name="category", required)
					option(data-id="-1", disabled, selected) #{__('page.cform.placeholder.subcategory')}
				.seperator

				//- Price field
				.hint !{__('page.cform.hint.price')}
				input(name="price", placeholder="#{__('page.cform.placeholder.price')}")

			.tab-content#description-tab
				//- Description
				.hint !{__('page.cform.hint.desc')} *
				textarea(name="description", placeholder="#{__('page.cform.placeholder.description')}", required)

		//- Form section for photos and videos
		section.tab
			.tab-title Photos
			.tab-content

				//- Drag and drop container
				.hint !{__('page.cform.hint.img')}
				#image-upload !{__('page.cform.hint.drag-drop')}

			.tab-content#image-tab
				.hint Selected images get displayed over here. If you want to remove an image, simply click on it below.
				ul#image-upload-preview

		//- Form section for contact information
		section.tab
			.tab-title #{__('page.cform.title.contact')}
			.tab-content

				//- Email
				.hint !{__('page.cform.hint.email')} *
				input(name="email", placeholder="#{__('page.cform.placeholder.email')}", required)
				.seperator

				//- Contact phone
				.hint !{__('page.cform.hint.phone')}
				input(name="phone", placeholder="#{__('page.cform.placeholder.phone')}")
				.seperator

				//- Location selection box
				.hint !{__('page.cform.hint.loc')} *
				select#locations(name="location", required)
					option(value="", disabled, selected) #{__('page.cform.placeholder.location')}

			.tab-content#map-tab
				div#map-canvas
				input(name="gmapX", type="hidden")
				input(name="gmapY", type="hidden")


		//- Finally the submit button
		section.tab
			.tab-title That's all, You're good to go!

			.hint !{__('page.cform.disclaimer')}
			.margin.g-recaptcha(data-sitekey="#{data.sitekey}")
			input.submit(type="submit", value="#{__('page.cform.placeholder.submit')}")