extends ../../layout.jade

block content
	form(enctype="multipart/form-data", action="", method="POST")

		//- Form section for basic info
		section.tab
			.tab-title #{__('page.cform.title.info')}
			.tab-content

				//- Title field
				.hint !{__('page.cform.hint.title')}
				input(name="title", placeholder="#{__('page.cform.title.info')}")
				.seperator

				//- Classified type field
				.hint !{__('page.cform.hint.type')}
				select(name="type")
					option(value="0", selected) #{__('page.cform.placeholder.type.offering')}
					option(value="1") #{__('page.cform.placeholder.type.wanted')}
				.seperator

				//- Category and Sub-Category boxes
				.hint !{__('page.cform.hint.cat')}
				select#cat-selector(name="parent-category", required)
					option(data-id="-1", disabled, selected) #{__('page.cform.placeholder.category')}
				select#subcat-selector(name="category", required)
					option(data-id="-1", disabled, selected) #{__('page.cform.placeholder.subcategory')}
				.seperator

				//- Price field
				.hint !{__('page.cform.hint.price')}
				input(name="price", placeholder="#{__('page.cform.placeholder.price')}")
				.seperator

				//- Description
				.hint !{__('page.cform.hint.desc')}
				textarea(name="description", placeholder="#{__('page.cform.placeholder.description')}", required)

		//- Form section for photos and videos
		section.tab
			.tab-title #{__('page.cform.title.photos-videos')}
			.tab-content

				//- Drag and drop container
				.hint !{__('page.cform.hint.img')}
				#image-upload #{__('page.cform.hint.drag-drop')}
				ul#image-upload-preview

		//- Form section for contact information
		section.tab
			.tab-title #{__('page.cform.title.contact')}
			.tab-content

				//- Email
				.hint !{__('page.cform.hint.email')}
				input(name="email", placeholder="#{__('page.cform.placeholder.email')}", required)
				.seperator

				//- Contact phone
				.hint !{__('page.cform.hint.phone')}
				input(name="phone", placeholder="#{__('page.cform.placeholder.phone')}")
				.seperator

				//- Location selection box
				.hint !{__('page.cform.hint.loc')}
				select#locations(name="location", required)
					option(value="", disabled, selected) #{__('page.cform.placeholder.location')}
					option(value="0") #{__('page.cform.placeholder.location.none')}

				//- Finally the submit button
				.hint !{__('page.cform.disclaimer')}
				input.submit(type="submit", value="#{__('page.cform.placeholder.submit')}")