#main-header(class="{{ route }}")
  #grabber-container(ng-style="{background: mainColor}")
    header-hamburger(ng-click="toggleHeader()")

  #header-logo-container
    a(fn-route="/")
      img(src="/images/header/logo.png")

  //- This is the page header. It gets set with the content for the given page
  nav#page-header
    ul
      li(ng-repeat="link in currentPageLink.children")
        a(fn-route="{{ link.url }}"
          ng-class="{active: link.isActive}") {{ link.name  }}

      li.search.hide-for-small
        input(placeholder="search")
  #header-searchbar


//- This is the Main header
nav#menu-header(ng-class="{'show-menuheader': showMenuHeader}"
  ng-init="showSubMenu=false;"
  ng-style="{'border-color': mainBorderColor}")
  ul
    li(ng-repeat="link in links"
      class="{{ link.class }}"
      ng-mouseover="onMainLinkHover(link)"
      ng-class="{active: link.isActive}")
      span.icon(ng-if="link.children") &#xf105;
      a(fn-route="{{ link.url }}"
        ng-if="link.slug") {{ link.name }}

//- This is the sub header. It gets set with the link's children from the main
//- header
nav#submenu-header(ng-style="{background: activeLink.color}")
  ul
    li(ng-repeat="sublink in activeLink.children"
      class="{{ activeLink.class }} {{ sublink.class }}"
      ng-class="{active: sublink.isActive}")
      a(fn-route="{{ sublink.url }}") {{ sublink.name | translate }}


span.nav-cover(ng-click="closeHeader()", ng-mouseover="onCoverHover()")
