extends ../../layout.jade

block robots
  //- Twitter cards
  if settings.twitter.supportMeta
    //- Gallery card - https://dev.twitter.com/cards/types/gallery
    //- Display this card when there are multiple images
    if data.classified.images && data.classified.images.length > 1
      meta(name="twitter:card", content="gallery")
      meta(name="twitter:site", content="#{settings.twitter.user}")
      meta(name="twitter:creator", content="#{settings.twitter.user}")
      meta(name="twitter:title", content="#{data.classified.title}")
      meta(name="twitter:description", content="#{data.classified.description}")
      meta(name="twitter:url", content="#{url}/#{data.classified.slug}")
      for image in data.classified.images
        meta(name="twitter:image#{data.classified.images.indexOf(image)}",
          content="#{ staticUrl }/uploads/main/#{image.filename}")

    //- Photo Card - https://dev.twitter.com/cards/types/photo
    //- Display this card when there is only one image
    if data.classified.images && data.classified.images.length == 1
      meta(name="twitter:card", content="photo")
      meta(name="twitter:site", content="#{settings.twitter.user}")
      meta(name="twitter:title", content="#{data.classified.title}")
      meta(name="twitter:url", content="#{url}/#{data.classified.slug}")
      for image in data.classified.images
        meta(name="twitter:image",
          content="#{ staticUrl }/uploads/main/#{image.filename}")

    //- Summary Card - https://dev.twitter.com/cards/types/summary
    //- Display this card only when there are no images
    if (data.classified.images && data.classified.images.length == 0) || !data.classified.images
      meta(name="twitter:card", content="summary")
      meta(name="twitter:site", content="#{settings.twitter.user}")
      meta(name="twitter:title", content="#{data.classified.title}")
      meta(name="twitter:url", content="#{url}/#{data.classified.slug}")
      meta(name="twitter:description", content="#{data.classified.description}")


  //- Facebook meta tags
  if settings.facebook.supportMeta
    meta(property="fb:app_id", content="#{settings.facebook.appID}")
    meta(property="og:title", content="#{data.classified.title}")
    meta(property="og:type", content="product.item")
    meta(property="og:description", content="#{data.classified.description}")
    meta(property="og:site_name", content="#{settings.sitename}")
    meta(property="og:url", content="#{url}/#{data.classified.slug}")

    if data.classified.images
      meta(name="og:image:width", content="#{data.classified.images[0].width}")
      meta(name="og:image:height", content="#{data.classified.images[0].height}")
      meta(name="og:image",
        content="#{ staticUrl }/uploads/main/#{data.classified.images[0].filename}")

  section(itemscope, itemtype="http://schema.org/Product")
    if data.classified.images
      for image in data.classified.images
        img(src="#{ staticUrl }/uploads/thumb/#{image.filename}", itemprop="image")
    h1(itemprop="name")= data.classified.title
    section(itemprop="description")= data.classified.description
    span(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
      span.meta-value(itemprop="price", content="#{ data.classified.priceValue || 0 }")= data.classified.priceValue || 0
      span.meta-value(itemprop="priceCurrency", content="KWD") KWD
    span(itemprop="url") #{url}/#{data.classified.slug}