extends ../../layout.jade

block meta
  //- Twitter cards
  if settings.twitter.supportMeta
    //- Gallery card - https://dev.twitter.com/cards/types/gallery
    //- Display this card when there are multiple images
    if data.classified.images && data.classified.images.length > 1
      meta(name="twitter:card", content="gallery")
      meta(name="twitter:creator", content="#{settings.twitter.user}")
      meta(name="twitter:description", content="#{data.classified.description}")
      meta(name="twitter:site", content="#{settings.twitter.user}")
      meta(name="twitter:title", content="#{data.classified.title}")
      meta(name="twitter:url", content="#{url}/#{data.classified.slug}")
      for image in data.classified.images
        meta(name="twitter:image#{data.classified.images.indexOf(image)}",
          content="#{staticUrl}/uploads/main/#{image.filename}")
    //- Photo Card - https://dev.twitter.com/cards/types/photo
    //- Display this card when there is only one image
    if data.classified.images && data.classified.images.length == 1
      meta(name="twitter:card", content="photo")
      meta(name="twitter:description", content="#{data.classified.description}")
      meta(name="twitter:site", content="#{settings.twitter.user}")
      meta(name="twitter:title", content="#{data.classified.title}")
      meta(name="twitter:url", content="#{url}/#{data.classified.slug}")
      for image in data.classified.images
        meta(name="twitter:image",
          content="#{staticUrl}/uploads/main/#{image.filename}")
    //- Summary Card - https://dev.twitter.com/cards/types/summary
    //- Display this card only when there are no images
    if (data.classified.images && data.classified.images.length == 0) || !data.classified.images
      meta(name="twitter:card", content="summary")
      meta(name="twitter:description", content="#{data.classified.description}")
      meta(name="twitter:site", content="#{settings.twitter.user}")
      meta(name="twitter:title", content="#{data.classified.title}")
      meta(name="twitter:url", content="#{url}/#{data.classified.slug}")

  //- opengraph tags
  meta(property="og:description", content="#{data.classified.description}")
  meta(property="og:product:retailer_item_id", content="#{data.classified.id}")
  meta(property="og:site_name", content="#{settings.sitename}")
  meta(property="og:title", content="#{data.classified.title}")
  meta(property="og:type", content="product.item")
  meta(property="og:url", content="#{url}/#{data.classified.slug}")
  meta(property="product:sale_price:amount", content="#{data.classified.priceValue || 0}")
  meta(property="product:sale_price:currency", content="KWD")
  if data.classified.images && data.classified.images[0]
    link(rel="image_src",
      href="#{staticUrl}/uploads/main/#{data.classified.images[0].filename}")
    for image in data.classified.images
      meta(name="og:image",
        content="#{staticUrl}/uploads/thumb/#{data.classified.images.filename}")


block robots
  //- Schema for Search engines
  section(itemscope, itemtype="http://schema.org/Product")
    if data.classified.images
      for image in data.classified.images
        img(src="#{staticUrl}/uploads/thumb/#{image.filename}", itemprop="image")
    h1(itemprop="name")= data.classified.title
    section(itemprop="description")= data.classified.description
    span(itemprop="offers", itemscope, itemtype="http://schema.org/Offer")
      span(itemprop="price", content="#{data.classified.priceValue || 0}")
      span(itemprop="priceCurrency", content="KWD")
    span(itemprop="url") #{url}/#{data.classified.slug}