//- This divs, are used to close the card container. The first one is the
//- background (kept for a btter UX) and the second is a close button which
//- can be used in mobile
.close-bg(ng-click="close()")
.close-button(ng-click="close()")
  img(src!="<%= staticUrl %>/images/close.png")

//- These buttons are used to move between classifieds
.nav-buttons
  .prev(ng-click="previous()",
    ng-if="index > 0")
    .text prev
  .next(ng-click="next()",
    ng-if="index < (classifieds.length - 1)")
    .text next


//- These cards hold the classifieds. Ideally we animate them according
//- which direction we are moving. We use CSS classes to do all the animations.
//-
//- NOTE: that we make use of angular's swipe directive on this element to
//- also navigate!
.cards(ng-class="animationClasses",
  ng-swipe-left="next()"
  ng-swipe-right="previous()")
  section(classified-single,
    ng-repeat="classified in classifieds | limitTo : indexLimit : indexOffset"
    ng-class="calculateClass($index)"
    data-index="{{ $index }}")
