section(filterbox-content)
  h1 Narrow your search
  p Set the different options below to find the classifieds you want.
  .row
    .columns.medium-6
      div(input-keywords, form-ui
        maxlength="140"
        ng-class="{disabled: formLoading}"
        ng-model="ctrl.keywords"
        placeholder="Keywords")

    .columns.medium-6
      div(input-long-list, form-ui
        list="locations"
        ng-class="{disabled: formLoading}"
        ng-model="ctrl.location"
        placeholder="Location")

    .columns.medium-6
      div(input-category, form-ui
        ng-class="{disabled: formLoading}"
        ng-model="ctrl.categories"
        placeholder="Category")

    .columns.medium-6
      div(input-price-range, form-ui
        ng-model="ctrl.price"
        placeholder="Price range"
        ng-class="{disabled: formLoading}")

    .columns.medium-6
      div(input-list, form-ui
        list="sorts"
        ng-class="{disabled: formLoading}"
        ng-model="ctrl.sort"
        placeholder="Sort by")


  button.green(ng-click="submit()") Save Query
