.field(ng-init="opened=false"
  ng-click="opened=true; parentCategory=null; childCategory=null; onTouch()"
  ng-model="userInput")
    span {{ parentCategory.name }}&nbsp;
    span(ng-if="parentCategory.children.length > 0") / {{ childCategory.name }}

.placeholder(ng-class="{shrink: parentCategory}") {{ placeholder }}

ul(ng-class="{opened: opened && !parentCategory.id}").medium-block-grid-2
  li(ng-repeat="cat in cats"
    ng-click="setParent(cat)") {{ cat.name }}

ul(ng-class="{opened: opened && parentCategory.children}"
  ng-if="parentCategory").medium-block-grid-2
  li(ng-repeat="childcat in parentCategory.children"
    ng-click="setChild(childcat)") {{ childcat.name }}
